<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubic</title>
    <link rel="icon" type="image/x-icon" href="/images/cubic-w-nobg.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: #fff;">
                <img src="/images/cubic-w-nobg.png" alt="Logo" width="50" height="50"> Cubic
            </a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/terms">TOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacy">Privacidade</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <a class="btn btn-login" href="/auth/login" role="button">Entrar</a>
            </div>
        </div>
    </nav>

    <section id="cubic" class="content-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text">
                    <h2>Converse, Divirta-se e Conecte-se</h2>
                    <p>Descubra uma nova forma de se conectar com amigos e comunidades no Cubic. Explore salas de chat projetadas para facilitar conversas divertidas, jogos empolgantes e interações significativas. Crie seu espaço digital e transforme cada momento em uma experiência única.</p>
                </div>
                <div class="col-md-6 image">
                    <img src="/images/cubic-w-nobg.png" alt="Descrição da Imagem" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="content-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text">
                    <h2>Sobre o Cubic.</h2>
                    <p>O Cubic é um chat online onde você pode adicionar amigos, conversar com eles em tempo real, fazer ligações por vídeo, e customizar seu perfil - tudo isso de graça. Nosso ambiente é perfeito para gamers, garantindo que você não perca performance ao utilizar todos os nossos recursos online. Se você está procurando um lugar para se divertir, se conectar e interagir, o Cubic é a escolha ideal. Junte-se a nós e comece a explorar todas as possibilidades que oferecemos!</p>
                </div>
                <div class="col-md-6 image">
                    <img src="/images/chat-preview.png" alt="Descrição da Imagem" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script>
        document.addEventListener('scroll', function () {
            var sections = document.querySelectorAll('.content-section');
            var navLinks = document.querySelectorAll('.nav-link');
            
            sections.forEach(function (section) {
                var rect = section.getBoundingClientRect();
            });
        });
    </script>
</body>
</html>