@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #0f1013;
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #0f1013;
  color: #fff;
}

.nav-link {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #cccccc;
}

.btn-login {
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 1.5rem;
  color: #000;
}

.btn-login:hover {
  border: 2px solid #e2e2e2;
  background-color: #e2e2e2;
  border-radius: 1.5rem;
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-top: 56px; 
}

.login {
  height: 80vh;
}

.content-section {
  color: #fff; 
}

.content-section .container {
  text-align: left;
  padding: 0 20px; 
}

.content-section .text {
  flex: 1; 
  max-width: 100%; 
  margin-bottom: 20px; 
}

.content-section .image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .content-section .container {
    flex-direction: column-reverse; 
    text-align: center;
  }
}

.tos-content {
  height: 600px; /* Ajuste a altura conforme necessário */
  overflow-y: scroll;
  padding: 20px;
  background-color: #0f1013; /* Cor de fundo para destacar a área de rolagem */
  border: 1px solid #444; /* Borda opcional para visualização */
  border-radius: 5px; /* Borda arredondada opcional */
}

.tos-content p {
  font-family: "Montserrat", sans-serif;
}

/*login*/
.login-form {
  background-color: #181c1f;
  border: 1px solid #181c1f;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  width: 100%;
  max-width: 400px;
  z-index: 1;
}

.login-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 50px; 
}

.login-form .rounded {
  border-radius: 15px;
}

.login-form .small {
  color: #3e5aa0;
}

.btn-register {
  border: 2px solid #fff; 
  background-color: #fff;
  border-radius: 1.5rem;
  color: #000;
}

.btn-register:hover {
  border: 2px solid #e2e2e2; 
  background-color: #e2e2e2;
  border-radius: 1.5rem;
  color: #000;
}


.login-form h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.form-label {
  color: #85898f;
  font-weight: 900;
  font-size: 12px;
}

.form-control {
  color: #fff;
  background-color: #2a3236;
  border: 1px solid #2a3236;
}

.form-control:focus {
  color: #fff;
  background-color: #323d43;
  border: 1px solid #323d43;
}

.form-select {
  color: #a3a6af;
  background-color: #2a3236;
  border: 1px solid #2a3236;
}

select.form-select {
  max-height: 100px;
  overflow-y: auto;
}

.ast {
  color: #ec4042;
  font-weight: 900;
  font-size: 12px;
  text-decoration: none;
}
